<@{
    ViewBag.Title = "Index";
}

<h2>S1L09 Session 09: Processing data with lists in MVC</h2>
<hr />

<table>
    <tr>
        <td>
            <img src="~/Content/Images/student_photo.jpg" alt="Student Photo" style="height:200px; width:auto;" />
        </td>
        <td>
            <p><strong>Name:</strong> Msizi</p>
            <p><strong>Surname:</strong> Gumede</p>
            <p><strong>Student Number:</strong> 24784606</p>
        </td>
    </tr>
</table>

<hr />

<h3> Steps Followed to Update the Project</h3>

<h4>1. Preparing the Environment</h4>
<ul>
    <li>Opened the ASP.NET MVC project in Visual Studio.</li>
    <li>Located `HomeController.cs` in the Controllers folder.</li>
</ul>

<h4> 2. Editing Index View</h4>
<ul>
    <li>Navigated to `Views > Home > Index.cshtml`.</li>
    <li>Removed all existing instructional content.</li>
    <li>Inserted a table to display my photo and student information.</li>
    <li>Uploaded my student photo to the `Content/Images` folder.</li>
</ul>

<h4> 3. Final Adjustments</h4>
<ul>
    <li>Ensured the image renders correctly using the relative path.</li>
    <li>Tested the view by running the application.</li>
    <li>Confirmed student details and image display as expected.</li>
</ul>
